<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>net.yakiyama.rotten</string>
    <key>connections</key>
    <dict>
      <key>C70EE525-4CEA-4BB2-9619-3683367C876B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>AD188D5C-167A-4E1B-9BC2-33E0C1A9EDDC</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Jaesung Koo</string>
    <key>description</key>
    <string>Search movie from RottenTomatoes.com</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Rotten Search v1.1</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>118</integer>
          <key>keyword</key>
          <string>rotten</string>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Searching...</string>
          <key>script</key>
          <string>python script.py "{query}"</string>
          <key>subtext</key>
          <string>Find movie and check scores</string>
          <key>title</key>
          <string>Search Rotten Tomatoes</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>C70EE525-4CEA-4BB2-9619-3683367C876B</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>plusspaces</key>
          <false/>
          <key>url</key>
          <string>{query}</string>
          <key>utf8</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>AD188D5C-167A-4E1B-9BC2-33E0C1A9EDDC</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>readme</key>
    <string></string>
    <key>uidata</key>
    <dict>
      <key>AD188D5C-167A-4E1B-9BC2-33E0C1A9EDDC</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
      <key>C70EE525-4CEA-4BB2-9619-3683367C876B</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://github.com/mrz1277/alfred-workflows/tree/master/net.yakiyama.alfred.rotten</string>
  </dict>
</plist>
