<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>net.yakiyama.torrent</string>
    <key>connections</key>
    <dict>
      <key>4255A9F0-3C4F-4244-A636-2E6289C7C3E8</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>78AC53DD-BF9E-4A0B-BD76-BE11D2F5024D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
      <key>78AC53DD-BF9E-4A0B-BD76-BE11D2F5024D</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>EC064E8C-452B-40E0-9F2D-B9A1A4C422CE</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
      <key>D7CDA9DC-AF74-4CF4-84CA-DA220BC85896</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>78AC53DD-BF9E-4A0B-BD76-BE11D2F5024D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>구재성</string>
    <key>description</key>
    <string>토렌트 검색 및 다운</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>토렌트</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>127</integer>
          <key>keyword</key>
          <string>ㅌ</string>
          <key>script</key>
          <string>python search.py "{query}"</string>
          <key>subtext</key>
          <string>[한국(1), 외국(2)] + [음악(1), 영화(2), 예능(3), 시사(4), 드라마(5)]</string>
          <key>title</key>
          <string>ㅌ [카테고리] [검색명]</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>4255A9F0-3C4F-4244-A636-2E6289C7C3E8</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>escaping</key>
          <integer>0</integer>
          <key>script</key>
          <string>python download.py "{query}" | xargs python torrent.py </string>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>78AC53DD-BF9E-4A0B-BD76-BE11D2F5024D</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>output</key>
          <integer>0</integer>
          <key>removeextension</key>
          <false/>
          <key>sticky</key>
          <false/>
          <key>text</key>
          <string>{query}</string>
          <key>title</key>
          <string>토렌트</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>EC064E8C-452B-40E0-9F2D-B9A1A4C422CE</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>127</integer>
          <key>keyword</key>
          <string>x</string>
          <key>script</key>
          <string>python search.py "{query}"</string>
          <key>subtext</key>
          <string>[한국(1), 외국(2)] + [음악(1), 영화(2), 예능(3), 시사(4), 드라마(5)]</string>
          <key>title</key>
          <string>ㅌ [카테고리] [검색명]</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>D7CDA9DC-AF74-4CF4-84CA-DA220BC85896</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>readme</key>
    <string></string>
    <key>uidata</key>
    <dict>
      <key>4255A9F0-3C4F-4244-A636-2E6289C7C3E8</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
      <key>78AC53DD-BF9E-4A0B-BD76-BE11D2F5024D</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
      <key>D7CDA9DC-AF74-4CF4-84CA-DA220BC85896</key>
      <dict>
        <key>ypos</key>
        <real>130</real>
      </dict>
      <key>EC064E8C-452B-40E0-9F2D-B9A1A4C422CE</key>
      <dict>
        <key>ypos</key>
        <real>10</real>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://github.com/mrz1277/alfred-workflows</string>
  </dict>
</plist>
