<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.yakiyama.alfred.genymotion</string>
	<key>connections</key>
	<dict>
		<key>11A01C67-1C78-49D5-A527-E0923D2DF836</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E228C4D7-9D25-439E-A00B-94FE94A1F36B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E228C4D7-9D25-439E-A00B-94FE94A1F36B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F94556F-062A-4D7D-8743-A9F98C558D6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jaesung Koo</string>
	<key>description</key>
	<string>Start emulator instantly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Genymotion v1.6</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function get_genymotion_path() {
	if [ -d "/Applications/Genymotion.app" ]; then
		PATH_GENYMOTION="/Applications/Genymotion.app"
	elif [ -d "$HOME/Applications/Genymotion.app" ]; then
		PATH_GENYMOTION="$HOME/Applications/Genymotion.app"
	else
		echo "Be sure if your Genymotion.app is under /Applications or ~/Applications directory"
		exit
	fi
}

function get_player_path() {
	if [ -f "$1/Contents/MacOS/player" ]; then
		PATH_PLAYER="$1/Contents/MacOS/player"
	elif [ -f "$1/Contents/MacOS/player.app/Contents/MacOS/player" ]; then
		PATH_PLAYER="$1/Contents/MacOS/player.app/Contents/MacOS/player"
	else
		# echo "Player path is undefined."
		exit
	fi
}

get_genymotion_path
get_player_path $PATH_GENYMOTION

$PATH_PLAYER --vm-name {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E228C4D7-9D25-439E-A00B-94FE94A1F36B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>geny</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python script.py "{query}"</string>
				<key>title</key>
				<string>Loading Genymotion virtual devices...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>11A01C67-1C78-49D5-A527-E0923D2DF836</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Genymotion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2F94556F-062A-4D7D-8743-A9F98C558D6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11A01C67-1C78-49D5-A527-E0923D2DF836</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2F94556F-062A-4D7D-8743-A9F98C558D6B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E228C4D7-9D25-439E-A00B-94FE94A1F36B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/mrz1277/alfred-workflows</string>
</dict>
</plist>
